/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

@font-face {
    font-family: 'Raleway-Regular';
    src:url(../fonts/Raleway-Regular.ttf) format('truetype');
}
html, body{
    font-size: 100%;
    background:	#fff;
}

body {
    font-size: 100%;
}

body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

p{
    margin:0;
}

ul,label{
    margin:0;
    padding:0;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

body a:hover{
    text-decoration:none;
}
/*--Header-top-Starts--*/
.head-main{
    text-align: center;
}
.header-top{
    padding:4em 0px;
}
/*--Header-top-end--*/
/*--Header-Starts--*/
.navigation {
    float: left;
}
.header-right {
    float: right;
}

.head {
    position: relative;
}

.header {
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
}

ul.navegacao {
    font-size: 1.3em;
    padding-top: 10px !important;

    color: #58351A;
    text-decoration: none;
}

.menu{
background-color: transparent;
        font-family: 'Roboto Condensed', sans-serif;

}

ul.navegacao li a {
color: #58351A !important;
text-decoration: none;

}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/*--about-start--*/

.titulo {
    margin: 10px 0 10px 0 !important;
}

.foto-perfil {
    max-height: 200px;
    max-width: 200px;
}

.modal-header {
    color: red !important;
}

.img-index {
    margin: 20px 0 20px 0;
}

.about{
	padding:4em 0px;
}

.about-one{
	text-align:center;
}

.about-one p{
	color:#333333;
	font-size:14px;
	border-bottom:1px solid #999;
	width:13%;
	margin:0 auto;
	font-family: 'Raleway-Regular';
}
.about-one h3{
	font-size:24px;
	margin:25px 0 0 0;
	color:#58351A;
}
.about-two{
	margin-top:3%;
    margin-bottom: 3%;
}

.about-two img{
	width:100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.about-two p{
	font-size:14px;
	font-family: 'Raleway-Regular';
	color:#333333;
	line-height:1.8em;
	margin-top:2%;
}

.about-two p a{
	color:#433951;
}

.about-two p a:hover{
	color:#999;
}

.about-two ul{
	padding:0;
	margin-top:4%;
}
.about-two ul li{
	list-style:none;
	display:inline-block;
}
.about-two ul li p{
	color:#333333;
	font-size:17px;
}
.about-two ul li a span{
	background:url(../images/social.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
	margin: 0 4px;
}
.about-two ul li a span.fb{
	background-position:0px 0px;
}
.about-two ul li a span.twit{
	background-position:-16px 0px;
}
.about-two ul li a span.pin{
	background-position:-32px 0px;
}
.about-two ul li a span.rss{
	background-position:-48px 0px;
}
.about-two ul li a span.drbl{
	background-position:-64px 0px;
}
.about-tre{
	margin-top:5%;
}

.abt-left img{
	width: 350px;
    height: 203px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.abt-left h6 {
	color: #6D6378;
	font-size: 15px;
	font-family: 'Raleway-Regular';
	margin: 6% 0 0 0;
    text-transform: uppercase;
    font-weight: 500;
}
.abt-left h3{
	font-size: 20px;
	margin: 4px 0 0 0;
	color: #433951;
    text-transform: uppercase;
    font-weight: 600;
}
.abt-left h3 a{
	color: #433951;
}
.abt-left p{
	font-size: 14px;
	font-family: 'Raleway-Regular';
	color: #333333;
	line-height: 1.8em;
	margin-top: 4%;
}
.about-btn {
	margin-top:3%;
}
.a-1{
	margin-top:5%;
    margin-bottom: 10px;
}

.abt-left label{
	float: right;
	font-size: 13px;
    margin-bottom: 20px;
	font-family: 'Raleway-Regular';
	color: #999;
}
.abt-2{
	margin-top:12%;
}

.might-grid {
	padding: 9% 0 0;
}
.grid-might img{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.abt-2 ul {
	padding: 0;
	margin-top: 8%;
}
.news form input[type="text"] {
	width: 100%;
	color: #190608;
	outline: none;
	font-size: 13px;
    margin: 0 0 10px 0;
	padding: 8px 10px;
	border: 1px solid #190608;
	-webkit-appearance: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family: 'Raleway-Regular';
}

.news form input[type="submit"] {
	background: #190608;
	font-family: 'Raleway-Regular';
	padding: 8px 1em;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	display: block;
	outline: none;
	border: none;
	margin-top: 3%;
	width: 33%;
	float: right;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.news form input[type="submit"]:hover {
	background: #000;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.news {
	width: 90%;
	margin: 9% auto 0;
}
.abt-2 ul li {
	list-style-image: url(../images/dot.png);
	margin: 12px 0px 5px 30px;
	text-align: left;
}
.abt-2 ul li a{
	font-size:13px;
	color:#999;
	font-family: 'Raleway-Regular';
}
.abt-2 ul li a:hover{
	color:#190608;
}
.grid-might {
	float: left;
	width: 29%;
}
.might-top {
	float: right;
	width: 67%;
	text-align: left;
}
.might-top p {
	font-size: 13px;
	color: #333333;
	line-height: 1.8em;
	font-family: 'Raleway-Regular';
	margin-top: 4%;
}
.might-top h4{
	font-size: 18px;
	margin: 0px 0 0 0;
	color: #58351A;
}
.might-top h4 a{
	color: #58351A;
}
.a-1:nth-child(1){
	margin-top:0%;
}
.about-btn a{
	color: #999;
	padding: 9px 30px;
	border: 1px solid #999;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family: 'Raleway-Regular';
}
.about-btn a:hover,.a-btn a:hover {
	background: #190608;
	color: #fff;
	border: 1px solid #190608;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.heading h3 {
	color: #fff;
	background: #190608;
	padding: 9px 0px;
	border: 1px solid #190608;
	font-size: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	margin: 0 auto;
}
.about-right {
	text-align:center;
}
.abt-one {
	margin-top:12%;
	text-align:center;
}
.abt-one p{
	font-size:13px;
	font-family: 'Raleway-Regular';
	color:#000;
	line-height:1.8em;
	margin:3% auto 0;
	width:80%;
}
.abt-one img {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.a-btn{
	margin-top:5%;
}
.a-btn a {
	color: #999;
	padding: 7px 20px;
	border: 1px solid #999;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-family: 'Raleway-Regular';
}
/*--about-end--*/

/*--footer-starts--*/
.footer{
	padding:2em 0px;
	box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
	text-align:center;
}
.footer-text p{
	font-size:15px;
	color:#000;
}
.footer-text p a{
	color:#000;
}
.footer-text p a:hover{
	color:#190608;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*--footer-end--*/

/*--ABOUT--*/
.welcome{
	padding:6em 0px;
}
.welcome-bottom{
	margin-top:4%;
	text-align:center;
}
.welcome-bottom p {
	font-size: 14px;
	font-family: 'Raleway-Regular';
	color: #999;
	line-height: 1.8em;
	margin: 1% auto;
	width: 85%;
}
.welcome-bottom img{
	margin-bottom:10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.welcome-bottom img{
	width:100%;
}
.welcome-bottom p {
    line-height: 1.6em;
}
.contact, .welcome, .gallery, .pages, .single {
    padding: 1.5em 0px;
}
.welcome-top h3,.team-top h3{
	width: 17%;
	text-align: center;
}
/*--FIM ABOUT--*/

/*--team-starts--*/
.team-left{
	text-align:center;
}
.team-left img{
	width:100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.team-bottom{
	margin-top:4%;
}
.team {
    padding-bottom: 4em;
    margin: 20px 0 0 0;
}
.team-left h4{
	font-size: 18px;
	margin: 20px 0 0 0;
	color: #3d1a1b;
}
.team-left p{
	font-size: 14px;
	font-family: 'Raleway-Regular';
	color: #999;
	line-height: 1.8em;
	margin-top: 2%;
}
/*--team-end--*/

/*--single--*/
.single-grid h4{
	font-size: 18px;
    margin: 20px 0 0 0;
    color: #212121;
}
.single-grid h4 a{
	color:#000000;
	text-decoration:none;
}
.single-grid h4 a:hover{
	color:#a1cd3d;
}
.single-grid p {
	font-size: 14px;
    font-family: 'Raleway-Regular';
    color: #333333;
    line-height: 1.8em;
    margin-top: 1.5%;
}
.comments h1,.comment-bottom h2{
	font-size:2.5em;
	color:#000;
	font-family: 'HammersmithOne-Regular';
	margin-bottom: 0.5em;
}
i.glyphicon{
    margin-right: 10px;
}
ul.blog-ic li  span{
	font-size: 14px;
    font-family: 'Raleway-Regular';
    color: #999;
}
ul.blog-ic li a:hover{
	color:#190608;
}
.media {
    margin-top: 22px;
}
.single {
	padding: 6em 0;
}
h4.media-heading {
    font-size: 18px;
    margin: 0px 0 7px 0;
    color: #212121;
}
.media-body p {
    font-size: 14px;
    font-family: 'Raleway-Regular';
    color: #999;
    line-height: 1.8em;
}
.comments {
	padding: 3em 0;
}
.comment-bottom form {
    width: 70%;
    margin-top: 3%;
}
.comment-bottom input[type="text"],.comment-bottom textarea{
	width: 100%;
	margin-bottom: 10px;
    color: #000;
	font-size: 14px;
    background: none;
    padding: 15px 10px;
    outline: none;
    border: 1px solid #999;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.comment-bottom textarea{
	resize:none;
}
ul.blog-ic li {
    display: inline-block;
    margin-right: 15px;
}
ul.blog-ic {
    margin-top: 10px;
}	
.comments h3,.comment-bottom h3{
	width: 30%;
    text-align: center;
	margin: 0;
}
/*--single--*/

/*MOBILE STARTS*/
@media (max-width: 768px){    
    .menu{
        font-family: 'Roboto Condensed', sans-serif;
    }
    .header {
        padding: 10px 0px;
    }

    .logo{
        text-align: center;
    }
    
    #custom-search-input{
    margin-top: 50px;
    margin-bottom: -50px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    }
}

.titulo-single {
    font-size: 36px;
    font-family: 'Raleway-Regular';
    font-weight: 700px;
}

.subtitulo-single {
    font-size: 18px;
    color: #999;
    font-family: 'Raleway-Regular';
    margin: 0 0 20px 0;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.btn-hover-alt {
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}